<!DOCTYPE html>
<html>
  <head>
    <title>Dionysus Store</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

  <div class='container-fluid vh-100'>
    <div class='row vh-100'>
      <%= turbo_frame_tag "quantity_frame" do %>
        <%= render partial: 'layouts/template/navbar' %>
      <% end %>
      <%= render partial: 'layouts/template/sidebar' %>
      <div class='col-10 vh-100 p-0'>
        <%= yield %>
        <%= render partial: 'layouts/template/flash_message' %>
      </div>
    </div>
  </div>
  </body>
</html>
